.TimelineHeaderRow {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15); */
  border-bottom: 1px solid var(--border-strong);
  color: var(--text-primary);
  height: 38px;
  line-height: 38px;
  position: relative;
  width: 100%;
  z-index: 4;
}

.TimelineHeaderRow::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: inherit;
}

.TimelineHeaderRow--title {
  flex: 1;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}